/* tags */
body {
  background-image: url("https://openclipart.org/image/2400px/svg_to_png/75949/NBA-Court-Sports2010.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* id */
#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 200px;
  list-style: none;
}
#nav li {
  float: right;
}
#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em -10px;
  padding: 0px 20px 0px 0px;
  list-style: none;
  background-color: transparent;
}
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
}
#nav li a:hover {
  background-color: lightgray;
}
#logo-main {
  float: left;
  margin-left: 20px;
  margin-top: -10px;
  height: 100px;
}
#navbar {
  height: 100px;
  margin-top: 20px;
}
#navbar a.icon {
  display: none;
}
#listMenu {
  margin-right: 50px;
}
@media only screen and (max-width: 1200px) {
  #listMenu {
    display: none;
  }
  #navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  #navbar a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
/* classes */
.img-responsive {
  display: flex;
  width: 70px;
  height: 70px;
}